<div class="flex flex-col">

    <!-- Community Logos -->
    <div class="grid md:justify-start justify-center   py-7 px-7">
        <h2 class="py-4 text-2xl my-4 md:text-left text-center ">Our Community Sponsors</h2>
        <div class="flex flex-wrap  justify-around   md:justify-between items-center pb-14">
            <a href="https://ihub.co.ke/" class="hover:cursor-pointer logo m-3 ">
                <img src="../../../../../assets/Images/logos/ihub-logo.png" alt="" class="md:w-1/2  w-3/4 mx-auto  ">
            </a>
            <a href="https://cloudinary.com/" class="hover:cursor-pointer  m-3">
                <img src="../../../../../assets/Images/logos/cloudinary-logo.png" alt="" class="w-3/4 md:w-3/4  mx-auto">
            </a>
            <a href=""  class="hover:cursor-pointer  m-3">
                <img src="../../../../../assets/Images/logos/google2.0 1.png" alt="" class="md:w-1/2 w-3/4  mx-auto" >
            </a>
            <a href=""  class="hover:cursor-pointer  m-3">
                <img src="../../../../../assets/Images/logos/Propel Logo Black.png" alt="" class="md:w-3/4 w-3/4 mx-auto">
            </a>
            <a href="https://www.jetbrains.com/"  class="hover:cursor-pointer  m-3">
                <img src="../../../../../assets/Images/logos/jb_bean.png" alt="" class="w-1/5 md:w-1/5 mx-auto">
            </a>

        </div>

    </div>
    <!-- Angular Kenya -->
    <div class="flex flex-col  justify-items-center w-full bg-faded-red  py-5 px-3">
        <a  [routerLink]="['/home']"    class="hover:cursor-pointer  m-3 mx-auto order-2 md:order-1">
            <img src="../../../../../assets/Images/logos/angular-ke-logo 1.png" alt="Angular Kenya Logo"  class="w-3/4 md:w-full mx-auto">

        </a>
        <p class="mx-auto text-center md:order-2 order-3">Ng New Ideas, Ng Generate Innovation, Fostering Mentorship </p>
        <div class="socials flex justify-center order-1 md:order-3">
            <a class="px-3 py-2 flex items-center  uppercase font-bold text-2xl leading-snug text-white hover:opacity-75" href="twitter.com/angular_kenya">
                <i class="fa fa-twitter  leading-lg text-white opacity-75"></i>
              </a>
              <a class="px-3 py-2 flex items-center  uppercase font-bold text-2xl leading-snug text-white hover:opacity-75" href="https://www.linkedin.com/company/angular-kenya">
                <i class="fa fa-linkedin  leading-lg text-white opacity-75"></i>
              </a>
              <a class="px-3 py-2 flex items-center  uppercase font-bold text-2xl leading-snug text-white hover:opacity-75" href="https://github.com/NgKenya">
                <i class="fa fa-github  leading-lg text-white opacity-75"></i>
              </a>
        </div>
    </div>

</div>