<nav class="relative flex flex-wrap items-center justify-between py-3 mb-3">

    <div class="container px-1 md:px-4 mx-auto flex flex-wrap justify-between ">
      <!-- Links -->
      <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="w-full md:w-auto lg:flex lg:flex-grow items-center order-2 lg:order-1">
        <ul class="w-full lg:w-auto flex flex-col lg:flex-row list-none ">
          <li class="nav-item   transform transition duration-500 ease-in-out focus:p-5">
            <a class="text-ng-white px-3 py-2 flex items-center text-lg  font-medium leading-snug text-white w-full lg:w-auto hover:opacity-75 hover:text-ng-grey    md:my-0 " [routerLink]="['/home']" routerLinkActive="active border-b-2" (click)="showMenu=!showMenu">
              Home
            </a>
          </li>
          <li *ngIf="isVisible" class="nav-item">
            <a class="text-ng-white px-3 py-2 flex items-center text-lg  font-medium leading-snug text-white hover:opacity-75 hover:text-ng-white"  [routerLink]="['/speakers']" routerLinkActive="active border-b-2" (click)="showMenu=!showMenu">
             Speakers
            </a>
          </li>
          <li *ngIf="isVisible" class="nav-item">
            <a class="text-ng-white px-3 py-2 flex items-center text-lg  font-medium leading-snug text-white w-full lg:w-auto hover:opacity-75 hover:text-ng-white    md:my-0 " [routerLink]="['/schedule']" routerLinkActive="active border-b-2" (click)="showMenu=!showMenu">
              Schedule
            </a>
          </li>
        </ul>
      </div>
     <!-- Logo -->
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-center order-1 lg:order-2 mx-auto">
        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" [routerLink]="['/home']"  >
          <img src="assets/Images/logos/ng_fest_logo_small.svg" alt="Angular Kenya Logo">
        </a>
        <button class="text-white cursor-pointer text-xl leading-none px-4 py-1  rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
          <i class="fa fa-bars text-ng-red"></i>
        </button>
      </div>
       <!-- Button -->

      <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class=" w-full lg:w-auto lg:flex lg:flex-grow items-center order-3  md:mt-0 mt-10 justify-start md:justify-end  border-slate">
        <a [routerLink]="['/contact-us']" class="text-ng-white  text-center bg-ng-red px-4 py-3  w-full md:w-auto rounded-full whitespace-nowrap b  hover:bg-ng-white hover:border-2 hover:border-ng-red hover:text-ng-red" (click)="showMenu=!showMenu"> Contact us</a>
      </div>
    </div>
  </nav>`








