/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: "~font-awesome/fonts";
@import "./node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap');

@layer base {
  html {
    font-family: "Figtree", serif;
    font-weight: 400;
  }
}

body {
  background: #03071e;
  color: #d9dad9;
}
section {
  // padding: 2rem 2rem;
}

.counter-bg {
  background-color: rgb(3, 7, 30);
    // background-image: url("./assets/Images/illustrations/circles-svg");


  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
  //   linear-gradient(127deg, #F11653 8.19%, #E90464 21.55%, #03071e 55.37%, #03071e 93.55%), 
  //             url("assets/Images/illustrations/dots.svg");


    // background:  
    // linear-gradient(to top right, #dd0031 10.55%, #03071e 93.55%), 
    //           url("assets/Images/illustrations/dots.svg");


    background: linear-gradient(170deg, rgba(221,0,49,0.5) 3.9%, rgba(3,7,30,0.5) 9%),  url("assets/Images/illustrations/dots2.svg"); 
   ;

   background-size: cover;
  // background-size: cover;
  // background-blend-mode:screen;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-image: url("assets/Images/illustrations/dots.svg");
 
  // background-attachment: fixed;
  // background-size: cover;
  // background-blend-mode:exclusion;
  // background-position: center center;

}


.active {
  color: #dd0031;
  font-weight: bold;
  border-bottom: 2px solid #dd0031;
}
