<div class="block relative w-full mb-10">
  <div
    class="absolute inset-0 bg-ng-dark-blue opacity-10 transition-opacity duration-300 ease-in-out hover:opacity-50 backdrop-blur-sm">
  </div>


  @if (speaker.width&&speaker.height) {
  @if(speaker.lcp){
  <img [src]="speaker.imageUrl" priority
    class="h-72 w-full object-cover rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
    [alt]="speaker.name" />
  }@else {
  <img [src]="speaker.imageUrl"
    class="h-72 w-full object-cover rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
    [alt]="speaker.name" />
  }
  }



  <!-- <img
    alt="Art"
    [ngSrc]="speaker.imageUrl"
    class="h-64 w-full object-cover sm:h-80 lg:h-96 rounded-t"
  /> -->

  <div class="details absolute bottom-0 py-2 px-4 bg-[#0d1127] bg-opacity-60 w-full rounded-t-md ">
    <h3 class="font-bold  text-ng-grey">
      {{speaker.name}}
    </h3>
    <p class="text-sm max-w-sm text-ng-white">
      {{speaker.role || "Speaker Role"}}
    </p>
  </div>

</div>