<section id="contact-us bg-ng-dark-blue">
  <div class="p-12  flex flex-col md:flex-row justify-center gap-4 md:gap-20">
    <!-- Email -->
    <div class="mx-auto w-full md:w-2/4  shadow-sm p-16 rounded-xl bg-blue-950 ">
      <img src="../assets/Images/illustrations/Emails-amico 1.svg" alt="Ng Festival Logo" class="mx-auto">
      <div class="description text-center w-full space-y-3">
        <h2 class="font-semibold text-2xl text-ng-white">Email</h2>
        <p class="text-base text-ng-white">Monday to Friday</p>
        <p class="text-ng-white">Expected response time: 72hrs</p>
        <a href="mailto:angularnairobi@gmail.com" class="text-ng-red my-2  hover:font-bold hover:cursor-pointer ">Send
          Email
          <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="mx-auto  w-full md:w-2/4  shadow-sm p-16 rounded-xl  bg-blue-950">
      <img src="../assets/Images/illustrations/Emails-amico 1.svg" alt="Ng Festival Logo" class="mx-auto">
      <div class="description text-center w-full space-y-3">
        <h2 class="font-semibold text-2xl text-ng-white">Community Hours</h2>
        <p class="text-base text-ng-white">Weekdays : 9Am -5PM E.A.T</p>
        <p class="text-ng-white">Weekends:9AM -12PM E.A.T</p>
        <a href="https://bit.ly/NgOfficeHrs" target="_blank"
          class="text-ng-red  hover:font-bold hover:cursor-pointer ">Check
          In <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>

  </div>
</section>