<section class="md:p-4 p-2 mb-2 bg-ng-pink">
	<div
		class="flex max-w-[85rem] mx-auto flex-col md:flex-row justify-center space-x-2 items-center text-sm"
	>
		<a
			href="https://vabu.app/ngkenya-2025"
			target="_blank"
			class="text-white text-base flex justify-between items-center w-full space-x-2 focus:outline-none focus:ring-offset-2 focus:ring-white"
		>
			<span class="inline-flex items-center">
				Early bird tickets from KES 1500
				<lucide-icon
					class="text-ng-dark-blue w-4 h-4 mx-2 hover:text-ng-red"
					name="move-right"
				></lucide-icon>
			</span>

			<div class="inline-flex space-x-2">
				@if (ticketsCountdown.month>0) {
				<div class="flex flex-col justify-between space-y-[0.5px]">
					<span class="text-2xl">{{ ticketsCountdown.month }}</span>
					<span class="text-sm font-mono"
						>month@if (ticketsCountdown.minute>1) {s}</span
					>
				</div>
				: } @if(ticketsCountdown.day>0){
				<div class="flex flex-col justify-between space-y-[0.5px]">
					<span class="text-2xl">{{ ticketsCountdown.day }}</span>
					<span class="text-sm font-mono"
						>day@if (ticketsCountdown.minute>1) {s}</span
					>
				</div>
				: }

				<div class="flex flex-col justify-between space-y-[0.5px]">
					<span class="text-2xl">{{ ticketsCountdown.hour }}</span>
					<span class="text-sm font-mono"
						>hour@if (ticketsCountdown.hour>1) {s}</span
					>
				</div>
				:
				<div class="flex flex-col justify-between space-y-[0.5px]">
					<span class="text-2xl">{{ ticketsCountdown.minute }}</span>
					<span class="text-sm font-mono"
						>minute@if (ticketsCountdown.minute>1) {s}
					</span>
				</div>
				:
				<div class="flex flex-col justify-between space-y-[0.5px]">
					<span class="text-2xl">{{ ticketsCountdown.second }}</span>
					<span class="text-sm font-mono"
						>second@if (ticketsCountdown.second>1) {s}</span
					>
				</div>
			</div>

			<a
				href="https://vabu.app/ngkenya-2025"
				target="_blank"
				class="bg-white text-ng-pink rounded-full text-sm font-bold flex justify-between items-center w-fit px-8 py-2 space-x-2 focus:outline-none focus:ring-offset-2 focus:ring-white"
				>Get Tickets</a
			>
		</a>
	</div>
</section>
