<section class="counter-bg">

    <div class="container  h-2/6 md:h-3/6 text-center">
        <div class="heading space-y-3  md:space-y-6 my-16 md:my-32 w-full   md:w-4/6 mx-auto items-center">
            <p class="capitalize text-ng-red font-medium">July 6th , 2024</p>
            <h1 class=" text-3xl  md:text-5xl  font-bold capitalize">East Africa's premium <span>Ng Festival</span> Ng
                kenya 2024</h1>
            <p class="text-sm  md:text-lg">Dive deeper into the framework, de-construct complex concepts, and connect
                with a vibrant community of fellow Angular enthusiasts.</p>

            <a href="mailto:angularnairobi@gmail.com" class="cursor-pointer px-2 py-2 bg-ng-red text-white rounded-md flex text-center mx-auto my-6 w-fit">Partner 
                <lucide-icon class="w-6 h-6 mx-1" name="move-right"></lucide-icon> </a>

        </div>

    </div>

</section>




<div class="grid bg-ng-red w-full py-20">

    <h2 class="capitalize text-center text-white text-xl md:text-2xl font-bold "> {{daysLeftDisplay.month}} Months  {{daysLeftDisplay.day}} Days   </h2>
</div>

    
<!--     
    <div class="flex justify-center items-center">
        <div class="flex gap-2">
          <div class="grid grid-cols-2 gap-1">
            <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
              {{ daysLeftDisplay.month}}
            </div>
            <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
              {{ daysLeftDisplay.day }}
            </div>
          </div>
          <div class="text-white text-4xl font-bold">:</div>
          <div class="flex gap-2">
            <div class="grid grid-cols-2 gap-1">
              <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
                {{ daysLeftDisplay.hour}}
              </div>
              <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
                {{ daysLeftDisplay.minute }}
              </div>
            </div>
            <div class="text-white text-4xl font-bold">:</div>
            <div class="grid grid-cols-2 gap-1">
              <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
                {{ daysLeftDisplay.month }}
              </div>
              <div class="bg-gray-800 text-white text-3xl font-bold h-16 flex justify-center items-center">
                {{ daysLeftDisplay.second }}
          </div>
        </div>
      </div>
      
      
</div> -->

