<section>
  <div class="container  h-2/6 md:h-3/6 text-center mx-auto">
    <div class="heading space-y-3  md:space-y-6 my-16 md:my-32 w-5/6   md:w-4/6 mx-auto items-center tracking-wider">
      <p class="capitalize text-ng font-medium">July 6th , 2024</p>
      <h1 class=" text-3xl  md:text-5xl  font-bold capitalize ">East Africa's premium <span
          class="line-through decoration-double decoration-ng-dark-blue decoration-4">NG Festival</span> <span
          class="text-ng-red mx-2">NG
          Kenya </span> 2024</h1>
      <p class="text-sm  md:text-lg">Dive deeper into the framework, de-construct complex concepts, and connect
        with a vibrant community of fellow Angular enthusiasts.</p>

      <a href="mailto:angularnairobi@gmail.com"
        class="cursor-pointer px-2 py-2 bg-ng-red text-white rounded-md flex text-center mx-auto my-6 w-fit">Partner
        With Us
        <lucide-icon class="w-6 h-6 mx-1" name="move-right"></lucide-icon> </a>

    </div>

  </div>

</section>



<section>
  <div class="grid justify-center bg-ng-pink text-ng-dark-blue w-full py-20 ">

    <h2 class="text-center my-6 text-medium">The Conference begins in </h2>

    <div class=" text-ng-white font-semibold flex flex-wrap justify-center  space-x-3  md:space-x-6">
      <div class="time flex flex-col justify-center">
        <span class="text-6xl text-center">0{{daysLeftDisplay.month}}</span>
        <span class="text-sm capitalize text-center">Months</span>
      </div>
      <div class="time flex flex-col ">
        <span class="text-6xl text-center">:</span>

      </div>
      <div class="time flex flex-col justify-center">
        <span class="text-6xl text-center">{{daysLeftDisplay.day}}</span>
        <span class="text-sm capitalize text-center">Days</span>
      </div>
      <div class="time flex flex-col ">
        <span class="text-6xl text-center">:</span>

      </div>
      <div class="time flex flex-col justify-center ">
        <span class="text-6xl text-center">{{daysLeftDisplay.hour}}</span>
        <span class="text-sm capitalize text-center">Hour</span>
      </div>
      <div class="time flex flex-col ">
        <span class="text-6xl">:</span>

      </div>
      <div class="time flex flex-col justify-center ">
        <span class="text-6xl text-center">{{daysLeftDisplay.minute}}</span>
        <span class="text-sm capitalize text-center">Minutes</span>
      </div>
      <div class="time  flex-col hidden md:inline-block ">
        <span class="text-6xl text-center">:</span>

      </div>
      <div class="time  flex-col justify-center  hidden md:flex ">
        <span class="text-6xl">{{daysLeftDisplay.second}}</span>
        <span class="text-sm capitalize text-center">Seconds</span>
      </div>
    </div>
  </div>
</section>