<section class="w-full">
	<div class="container h-2/6 md:h-3/6 mx-auto">
		<div
			class="heading space-y-3 md:space-y-6 my-32 md:my-56 w-5/6 mx-auto items-center tracking-wider"
		>
			<div
				(click)="utilService.openNewPage(photoLink)"
				class="mt-2 w-fit hover:cursor-pointer hover:bg-ng-red/30 border bg-white/10 border-gray-200/10 text-sm text-white rounded-full p-4"
				role="alert"
				tabindex="-1"
				aria-labelledby="hs-soft-color-dark-label"
			>
				<!-- <span
					id="hs-soft-color-dark-label"
					class="font-bold"
					>Past Event Photos</span
				> -->
				Past Event Photos
			</div>

			<div
				class="flex flex-col md:flex-row justify-between gap-4 items-end space-y-4 md:space-y-0"
			>
				<h1
					class="text-3xl md:text-5xl font-bold capitalize w-full md:w-3/4 md:order-1 leading-8 order-2"
				>
					Cracking the

					<span class="text-ng-red">Angular architecture</span> 2025
				</h1>
				<!-- Counter -->
				<div
					class="flex justify-center md:justify-end w-full gap-0 md:gap-1.5 count-down-main md:order-2 order-1"
				>
					<div class="timer">
						<div
							class="rounded-xl border border-ng-red py-1.5 min-w-[80px] flex items-center justify-center flex-col gap-0 aspect-square px-1.5"
						>
							<h3
								class="countdown-element days font-manrope font-semibold text-2xl text-ng-pink text-center"
							>
								{{ daysLeftDisplay.month }}
							</h3>
							<p
								class="text-sm font-inter capitalize font-normal text-ng-red text-center w-full"
							>
								months
							</p>
						</div>
					</div>
					<h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
					<div class="timer">
						<div
							class="rounded-xl border border-ng-red py-1.5 min-w-[80px] flex items-center justify-center flex-col gap-0 aspect-square px-1.5"
						>
							<h3
								class="countdown-element hours font-manrope font-semibold text-2xl text-ng-red text-center"
							>
								{{ daysLeftDisplay.day }}
							</h3>
							<p
								class="text-sm font-inter capitalize font-normal text-ng-red text-center w-full"
							>
								days
							</p>
						</div>
					</div>
					<h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
					<div class="timer">
						<div
							class="rounded-xl border border-ng-red py-1.5 min-w-[80px] flex items-center justify-center flex-col gap-0 aspect-square px-1.5"
						>
							<h3
								class="countdown-element minutes font-manrope font-semibold text-2xl text-ng-red text-center"
							>
								{{ daysLeftDisplay.hour }}
							</h3>
							<p
								class="text-sm font-inter capitalize font-normal text-ng-red text-center w-full"
							>
								hours
							</p>
						</div>
					</div>
					<h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
					<div class="timer">
						<div
							class="rounded-xl border border-ng-red py-1.5 min-w-[80px] flex items-center justify-center flex-col gap-0 aspect-square px-1.5"
						>
							<h3
								class="countdown-element seconds sec font-manrope font-semibold text-2xl text-ng-red text-center"
							>
								{{ daysLeftDisplay.minute }}
							</h3>
							<p
								class="text-sm font-inter capitalize font-normal text-ng-red text-center w-full"
							>
								minutes
							</p>
						</div>
					</div>
				</div>
			</div>

			<div
				class="flex flex-col md:flex-row justify-between gap-4 items-end space-y-4 md:space-y-0"
			>
				<div class="w-full md:w-1/2 space-y-4">
					<p class="capitalize text-ng font-medium">
						July 4th & July 5th , 2025
					</p>
					<p class="text-sm md:text-lg">
						Dive deeper into the framework, de-construct complex concepts, and
						connect with a vibrant community of fellow Angular enthusiasts.
					</p>
				</div>

				<a
					(click)="utilService.openNewPage(callForSpeakersLink)"
					target="_blank"
					class="cursor-pointer px-8 py-2 bg-ng-red text-white rounded-full flex items-center text-left my-6 h-fit w-fit hover:bg-ng-dark-blue"
				>
					Call for Speakers
					<lucide-icon
						class="w-6 h-6 mx-1"
						name="move-right"
					></lucide-icon>
				</a>
			</div>
		</div>
	</div>
	<!-- <div class="container mx-auto border-b-2 border-gray-50/30 py-4">
		<div class="flex justify-between">
			<p>&#64;2023</p>
			<p>Scroll</p>
		</div>
	</div> -->
</section>

<!-- <section class="px-10 md:px-40 py-10 md:py-20 bg-coming-soon text-ng-grey ">

  <div class="section-title">
    <p class="uppercase text-center text-2xl font-bold">Grab the last batch of tickets</p>
  </div>
  <div
    class=" text-gray-700 font-semibold flex flex-col md:flex-row flex-wrap justify-between md:justify-center items-center mt-8  space-x-3  md:space-x-6">

    @if (daysLeftDisplay.month!==0) {
    <div class="time flex flex-col justify-center bg-gray-100  p-4 md:p-8 rounded-xl w-48 md:w-28 items-center">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">0{{daysLeftDisplay.month}}</span>
      <span class="text-xl font-semibold text-ng-dark-blue capitalize text-center">Months</span>
    </div>
    <div class="time flex flex-col ">
      <span class="text-sm text-center">:</span>

    </div>
    }


    <div class="time flex flex-col justify-center  bg-gray-100  p-4 md:p-8 rounded-xl w-48 md:w-28 items-center">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">{{daysLeftDisplay.day}}</span>
      <span class="text-xl font-semibold text-ng-dark-blue capitalize text-center">Days</span>
    </div>
    <div class="time flex flex-col ">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">:</span>

    </div>
    <div class="time flex flex-col justify-center  bg-gray-100  p-4 md:p-8 rounded-xl w-48 md:w-28 items-center ">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">{{daysLeftDisplay.hour}}</span>
      <span class="text-xl font-semibold text-ng-dark-blue capitalize text-center">Hour</span>
    </div>
    <div class="time flex flex-col ">
      <span class="text-xl font-semibold text-ng-dark-blue">:</span>

    </div>
    <div class="time flex flex-col justify-center  bg-gray-100  p-4 md:p-8 rounded-xl w-48 md:w-28 items-center ">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">{{daysLeftDisplay.minute}}</span>
      <span class="text-xl font-semibold text-ng-dark-blue capitalize text-center">Minutes</span>
    </div>
    <div class="time  flex-col hidden md:inline-block ">
      <span class="text-xl font-semibold text-ng-dark-blue text-center">:</span>

    </div>
    <div
      class="time  flex-col justify-center  hidden md:flex  bg-gray-200  p-4 md:p-8 rounded-xl w-48 md:w-28 items-center ">
      <span class="text-xl font-semibold text-ng-dark-blue">{{daysLeftDisplay.second}}</span>
      <span class="text-xl font-semibold text-ng-dark-blue capitalize text-center">Seconds</span>
    </div>
  </div>
</section> -->
