.image-holder {
  /* width: 363px;
height: 464px; */
  background: url("../../../../../assets/Images/community/PXL_20220723_104003739.MP.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.image-text {

  border-radius: 0px 0px 20px 20px;
}

.image-holder-2 {
  background: url("../../../../../assets/Images/community/ng_ke.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;

}

.image-holder-3 {
  background: url("../../../../../assets/Images/community/20230401_134912.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;

}

.image-holder-4 {
  background: url("../../../../../assets/Images/community/meet_greet_23.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;

}
