 <main>
    <section id="welcome">
        <div class="grid  flex-col   justify-center text-center mt-10">
            <p> July 1<sup>st</sup>  2023 </p>
            <h1 class="font-semibold text-3xl md:text-5xl p-5 md:p-4">Let's <span  class="text-ng-red">Signal</span>  with the community while creating <span  class="text-ng-red">Angular</span> Stories</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>

            <a [routerLink]="['/contact-us']" class="text-ng-white font-semibold  mx-auto mt-5 bg-ng-red px-12 py-3   w-fit  rounded-full whitespace-nowrap b  hover:bg-ng-white hover:border-2 hover:border-ng-red hover:text-ng-red"> RSVP Now</a>
            
            </div>

            <!-- Community Images -->
            <div class="grid  h-auto lg:grid-cols-3  grid-cols-1 grid-rows-3 lg:grid-rows-1  flex-wrap md:items-end  items-center md:py-10  py-5 md:justify-between  justify-stretch  ">
        
                <div class="event-photo h-auto w-full  mx-auto">
                   
                   <div class="image-holder w-5/6 lg:w-4/6 mt-3  flex   justify-end items-end mx-auto">
                       <div class="image-text  mt-96 text-right bg-ng-red w-full md:w-4/5 text-ng-white p-3">
                       <p  class=" text-2xl">Meet and Greet</p>
                       <p class="text-sm font-normal">June  23rd , 2022</p>
                       </div>
                        
                   </div>
                </div>
                <div class="event-photo ">
                   
                   <div class="image-holder-2  w-5/6  md:w-4/6 mt-3  flex  mx-auto  justify-end items-end">
                       <div class="image-text  mt-48 text-right bg-ng-red w-full md:w-4/5 text-ng-white p-3">
                       <p  class=" text-2xl">Angular Workshop</p>
                       <p class="text-sm font-normal">July 1<sup>st </sup>, 2023</p>
                       </div>
                        
                   </div>
                </div>
               
                <div class="event-photo">
                   
                   <div class="image-holder-3 w-5/6  md:w-4/6 mt-3  flex  mx-auto  justify-end items-end">
                       <div class="image-text  mt-96 text-right bg-ng-red w-full md:w-4/5 text-ng-white p-3">
                       <p  class=" text-2xl">Angular Workshop </p>
                       <p class="text-sm font-normal">April 22<sup>nd</sup> , 2023</p>
                       </div>
                        
                   </div>
                </div>
               
               </div>
    </section>
    

    <section id="about" class="py-28  bg-ng-grey">
       
           
           <!-- FEstival -->
           <div class="grid grid-cols-1  md:grid-cols-2  grid-rows-1">
               <div class="grid md:justify-end justify-center">
                   
                   <img src="../../../../../assets/Images/logos/Horizontal-logo.png" alt=""  class="h-3/4  my-auto md:mx-0 mx-auto">
               </div>
           
               <div class="grid grid-rows-3">
                   <div class="todo flex justify-between md:p-5 p-2 ">
                       <div class="todo-icon my-auto">
                           <img src="../../../../../assets/Images/illustrations/group-team-network-connect.svg"  >
                       </div>
                       <div class="todo-description md:p-4  p-2">
                           <p  class="font-semibold  text-xl text-ng-red">Networking</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                       </div>
                   </div>
                   <div class="todo flex  justify-between  md:p-5 p-2">
                       <div class="todo-icon my-auto">
                           <img src="../../../../../assets/Images/illustrations/microphone-sing-voice-studio-record-svgrepo-com 1.svg" alt="">
                       </div>
                       <div class="todo-description p-4 ">
                           <p  class="font-semibold  text-xl text-ng-red">Guest Speakers</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                       </div>
                   </div>
                   <div class="todo flex  justify-between  md:p-5 p-2">
                       <div class="todo-icon my-auto">
                           <img src="../../../../../assets/Images/illustrations/confetti-svgrepo-com 1.svg" alt="">
                       </div>
                       <div class="todo-description p-4 ">
                           <p  class="font-semibold  text-xl text-ng-red">Have Fun</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                       </div>
                   </div>
                   
               </div>
           </div>

           <!-- our aim -->
           <div class="grid grid-cols-1 grid-rows-1 my-10">
            <h2  class="font-semibold  md:text-3xl text-2xl  text-center md:text-left mb-3">We connect developers from around  
                Kenya to share the latest</h2>
                <p  class="text-center md:text-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
           </div>
    </section>


    <section id="apply "  class="bg-ng-red ">
         <div class="flex  flex-col md:flex-row justify-between px-8  py-8 gap-3">
            <h1  class="text-ng-white  font-semibold text-3xl my-auto text-center mb-3">
                Call for Speakers is now open
            </h1>
        

                <a [routerLink]="['/contact-us']" class="text-ng-red bg-ng-white px-4 py-4 w-auto  rounded-full whitespace-nowrap  hover:text-ng-white hover:bg-ng-red hover:border-ng-white hover:border-2  text-center my-auto ">Apply Now</a>
            
         </div>
    </section>
 </main>
<!-- Images -->


