<main class="bg-[#03071E]">
  <section id="welcome" style="padding-bottom: 0">
    <div class="grid  flex-col   justify-center text-center w-3/4 mx-auto space-y-4">
      <p class="font-semibold text-xl  text-ng-white"> July 6<sup>st</sup> 2024 </p>
      <!-- <p class="font-bold text-2xl mb-6 text-ng-white"> Strathmore University, Nairobi, Kenya </p> -->
      <!-- <p class="font-bold text-4xl mb-6 text-ng-white"> 8:00AM EAT </p> -->
      <h1 class="font-semibold text-2xl md:text-4xl p-5 px-4 md:p-4 text-ng-white">Embrace the <span class="text-ng-red">Angular </span>
        community spirit as we craft compelling stories through coding <span class="text-ng-red">signals.</span></h1>
        <div class="description">
          <p class="text-ng-white">Join us at NG Festival Kenya, where we celebrate the vibrant Angular community.</p>
          <p class="text-ng-white">Engage, inspire, and amplify your skills in this immersive event designed for Angular
            developers and product
            owners.</p>
        </div>
     

        
      <a 
        *ngIf="isVisible"
        href="https://bit.ly/ngfest23"
        target="_blank"
        rel="noopener"
        class="text-ng-white font-semibold  mx-auto mt-5 bg-ng-red px-12 py-3   w-fit  rounded-full whitespace-nowrap b  hover:bg-ng-white hover:border-2 hover:border-ng-red hover:text-ng-red">
        RSVP Now</a>

    </div>

    <div class="flex items-center justify-center mt-12">
      <img src="assets/Images/illustrations/ke_landscape.svg">
    </div>

  </section>


  <section id="about" class="pt-28 pb-8  bg-ng-grey flex items-center flex-col">

    <img src="assets/Images/logos/ng_fest_scape.png">

    <!-- FEstival -->
    <div class="flex flex-col">

      <!--Row 1-->
      <div class="flex flex-col md:flex-row">
        <div class="todo flex justify-between md:p-5 p-2 ">
          <div class="todo-icon my-auto">
            <img class="hidden md:flex" src="assets/Images/illustrations/group-team-network-connect.svg">
          </div>
          <div class="todo-description md:p-4  p-2">
            <p class="font-semibold  text-xl text-ng-red">Networking</p>
            <p>Connect and forge valuable relationships with fellow Angular enthusiasts and industry experts during the
              Ng Festival. Expand your professional network, share insights, and establish meaningful connections that
              can open doors to new opportunities and collaborations.</p>
          </div>
        </div>
        <div class="todo flex  justify-between md:p-5 p-2 ">
          <div class="todo-icon my-auto">
            <img class="hidden md:flex"
                 src="assets/Images/illustrations/microphone-sing-voice-studio-record-svgrepo-com 1.svg" alt="">
          </div>
          <div class="todo-description p-4 ">
            <p class="font-semibold  text-xl text-ng-red">Guest Speakers</p>
            <p>Be inspired by renowned industry leaders and expert speakers at the Ng Festival. Gain valuable insights,
              learn from their experiences, and stay up-to-date with the latest trends and innovations in the Angular
              ecosystem. Get ready to be motivated and empowered by their knowledge and expertise. </p>
          </div>
        </div>
      </div>

      <!--Row 2-->
      <div class="flex items-center justify-center">
        <div class="todo flex  justify-between md:p-5 p-2 w-full md:w-3/4">
          <div class="todo-icon my-auto">
            <img class="hidden md:flex" src="assets/Images/illustrations/confetti-svgrepo-com 1.svg" alt="">
          </div>
          <div class="todo-description p-4 ">
            <p class="font-semibold  text-xl text-ng-red">Have Fun</p>
            <p>Beyond the enriching learning experiences, the Ng Festival also offers a delightful atmosphere of fun and
              camaraderie. Enjoy engaging activities, interactive sessions, and exciting surprises throughout the event.
              Take a break from the technical sessions, unwind, and create memorable moments with fellow attendees. Get
              ready for a joyful celebration of Angular and a truly enjoyable festival experience.</p>
          </div>
        </div>
      </div>


    </div>

    <!-- our aim -->
    <div class="grid grid-cols-1 grid-rows-1 my-10">
      <h2 class="font-semibold  md:text-3xl text-2xl  text-center md:text-left mb-3">Bringing together vibrant
        developer's to exchange the latest insights and trends.</h2>
      <p class="text-center md:text-left">
        Through interactive sessions, engaging workshops, and thought-provoking discussions, we empower attendees to
        expand their knowledge and skills. Join us at the Ng Festival and be part of a dynamic community that embraces
        innovation, fosters meaningful connections, and drives the future of technology in Kenya.
      </p>
    </div>
  </section>


  <section id="apply " class="bg-ng-red ">
    <div class="flex  flex-col md:flex-row justify-between px-8  py-8 gap-3">
      <h1 class="text-ng-white  font-semibold text-3xl my-auto text-center mb-3">
        Check out our speaker lineup
      </h1>


      <a
        href="/speakers"
        class="text-ng-red bg-ng-white px-4 py-4 w-auto  rounded-full whitespace-nowrap  hover:text-ng-white hover:bg-ng-red hover:border-ng-white hover:border-2  text-center my-auto ">
        Speaker Lineup
      </a>

    </div>
  </section>
</main>
<!-- Images -->


